* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100svh;
    min-width: 100svw;
    background-color: #0d1017;
    color: #eaefef;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
}

.nav {
    display: flex;
    width: 100%;
    container-type: inline-size;
    container-name: nav;
}

.nav-list {
    display: inline-flex;
    align-items: center;
    background-color: #5d817bdd;
    gap: 1.2rem;
    list-style: none;
    margin: 1rem auto;
    padding: .5rem 1rem .7rem 1rem;
    border-radius: 1.2rem;
}

.nav-list-element a {
    font-size: 1.2rem;
    color: #e8e5e5;
    cursor: pointer;
    text-align: center;
}

.nav-list-element a:hover {
    color: #fff;
}

@container nav (max-width: 550px) {
    .nav-list {
        width: 100%;
        border-radius: 0px;
        justify-content: space-around;
        padding: 1.2rem 1rem 1rem 1rem;
        margin: 0%;
    }

}