* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100svh;
    width: 100%;
    background: linear-gradient(90deg, rgba(13, 16, 23, 1) 0%, rgba(18, 23, 33, 1) 35%, rgba(13, 16, 23, 1) 100%);
    color: #eaefef;
}

a {
    text-decoration: none;
}

.header-page {
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, rgba(13, 16, 23, 1) 0%, rgba(18, 23, 33, 1) 35%, rgba(13, 16, 23, 1) 100%);
    border-bottom: 1px solid #5d817b99;
    z-index: 1;
    padding: 1rem;
    text-align: center;
}

.header-page h1 {
    margin: auto;
}


.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: min(100%, 1700px);
    margin: auto;
    position: relative;
}

.nav-container {
    padding-top: 2rem;
    display: flex;
    flex-basis: 10rem;
    flex-grow: 1;
    align-items: start;
    border-right: 1px solid #5d817b99;
    position: relative;
}

.nav {
    display: flex;
    width: 100%;
    container-type: inline-size;
    container-name: nav;
}

.nav-list-mobile {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: .5rem 1rem .7rem 1rem;
    flex-direction: column;
    margin: auto;
    gap: 2.5rem;
    position: absolute;
    left: 1rem;

}

.nav-list-element a {
    font-size: 1.5rem;
    color: #e8e5e5;
    cursor: pointer;
    text-align: center;
    position: fixed;
    justify-content: center;
}

.nav-list-element a:hover {
    color: #fff;
}

@media (max-width: 425px) {
    .nav-list,
    .nav-container {
        display: none;
    }

    .nav-list-mobile {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0 1rem;
        margin: auto;
    }

    .nav-list-element a {
        position: relative;
    }

    .nav-container {
        border: none;
    }

    .header-page a {
        font-size: 1rem;
    }

    .header-page h1 {
        font-size: 1.2rem;
    }
}

/* ABOUT -------------------------------*/

.about {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.about-img {
    display: flex;
    flex-basis: 12rem;
    flex-grow: 1;
    border-radius: 100%;
    overflow: hidden;
    max-width: 12rem;
}

.about-img img {
    width: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 999;
    font-size: 1.5rem;
    max-width: 50rem;
}

.about-text-p,
.about-text-title {
    max-width: 50rem;
}

/* BANNER STACK ----------------------------------------- */
.banner-stack {
    flex-direction: column;
    text-align: center;
    color: #10141d;
}

.banner-stack-title {
    font-size: 1.2rem;
    color: #e8e5e5;
}

.banner-stack-container {
    flex-direction: column;
    width: 100%;
}

.banner-stack-section {
    background-color: #cbc1b5;
    padding: 1rem;
    width: 100%;

}

.banner-stack-section-title {
    margin-bottom: 1rem;
}

.banner-stack-section-imgs {
    max-width: 80%;
    gap: 1rem;
}

.banner-stack-section-imgs-img {
    width: 4rem;
    display: flex;
    align-items: center;
    padding: .1rem;

}

.banner-stack-section-imgs-img img {
    max-height: 3rem;
    max-width: 100%;
    margin: auto;
}

/* PROYECTS----------------------------------------- */

#projects {
    flex-direction: column;
}

.projects-container {
    padding: 1rem 0;
    display: grid;
    grid-auto-rows: minmax(25rem, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 1fr));
    margin: 1rem;
    gap: 1rem;
}

.project {
    width: fit-content;
    gap: 1rem;
    background-color: #cbc1b5;
    color: #10141d;
}

.project-img {
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    max-width: min(22rem, 100%);
    margin: auto;
    width: min(22rem 100%);
    height: 22rem;
    object-fit: contain;
    overflow: hidden;
}

.project-img-img {
    width: 100%;
}

.project-descript {
    display: flex;
    flex-basis: 0;
    flex-grow: 999;
    flex-direction: column;
    max-width: 22rem;
    min-width: 17rem;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

/* ELEMENTS -------------------------------------------*/
.container {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper {
    width: min(90%, 1400px);
    display: flex;
    margin: auto;
    padding: 1rem 0;
}

.bgcontrast {
    background-color: #e8e5e5;
    border-radius: 5px;
}

.main-container {
    display: flex;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    padding-top: 2rem;
    flex-direction: column;
    gap: 2rem;
}

.section-title {
    text-align: center;
    font-size: 1.2rem;
    color: #e8e5e5;
}
